
// colors
$bg: #61c4d9;
$green: #0f5a47;
$black: #0d0d0d;
$white: #ffffff;
$border-color: #dde3bd;

// notmalize
@import "_misc/normalize.scss";

// layout
@import "_misc/*.scss";

@import "blocks/*.scss";