.nav__list{
  display: flex;
  color: $white;
  font-family: 'alegreya_sans';
  font-size: 18px;
  font-weight: 400;
}

.nav__item{
  margin-right: 20px;
}

.nav__link{
  color: $white;
  font-family: 'alegreya_sans';
  font-size: 18px;
  font-weight: 400;
}